.electromart-footer {
    background-image: url(../src/components/footerComponent/img/footer-bg.svg);
    padding: 120px 0px 15px;
    background-color: #1b1c1b;
    background-repeat: no-repeat;
}
.tagline-footer {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #0099ff38;
}
.tagline-footer h4 {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: #ffffff; 
    margin-bottom: 60px;
}
.tagline-footer .smile-bg a {
    padding: 15px 97px;
    background-color: #0099ff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    margin-top: 12px;
    display: inline-block;
}
.smile-bg {
    background-image: url('../src/components/footerComponent/img/smile.svg');
    background-size: auto;
    background-position: center 50%;
    height: 78px;
    background-repeat: no-repeat;
}
.myfootlogo img {
    width: 200px;
}
.footer_area span {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}
.footer_area ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
.footer_area ul li 
 {
    list-style: none;
    padding: 0px;
    margin-bottom: 13px;
}
.footer_area ul li a {
    color: #faebd7;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
    transition: .3s;
}
.footer_area ul li a:hover {
color:#ffffff;
font-weight: 400;
}
.footer_area ul li i {
    color: #faebd7;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
    transition: .3s;
}
.footer_area ul li img {
    width: 140px;
    margin-right: 15px;
}
.tagline-footerBottom {
    padding: 20px 0px;
    border-top: 1px solid #0099ff38;
    border-bottom: 1px solid #0099ff38;
}
.newsletter_area input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
}

.newsletter_area span {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}
.newsletter_area{
     position: relative;
    top: 0;
    right: 0;
}
.newsletter_area svg {
    position: absolute;
    right: 4px;
    bottom: 6px;
    font-size: 30px;
}
.connect span {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}
.connect ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
.connect ul li {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    display: inline-flex;
}
.connect ul li a {
    color: #faebd7;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 0px;
    display: block;
    font-size: 30px;
    transition: .3s;
    margin-right: 15px;
}
.connect ul li a:hover {
color:#ffffff;
font-weight: 400;
} 
.copyright_reserved p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .1px;
    margin-bottom: 0px;
}
.copyright_reserved a {
    color: #0d6efd;
    text-decoration: none;
}
.footer_area {
    position: relative;
    top:0;
    left:0;
}
.footer_area ul li span {
    position: absolute;
    bottom: -20px;
    left: 3px;
    margin: 0px;
    color: goldenrod;
}





.footer_area-applications span {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}
.footer_area-applications ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    display: inline-flex;
}
.footer_area-applications ul li 
 {
    list-style: none;
    padding: 0px;
    margin-bottom: 13px;
}
 .footer_area-applications ul li img {
    width: 140px;
    margin-right: 15px;
}