@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif !important;
}
body{
      font-family: "Poppins", sans-serif !important; 
}
#element--0891--rollon{
padding-top:15px;  
padding-bottom: 100px;
}
.offer__banner{
    margin: 15px 45px 42px 45px;
}
.offer__banner img{ 
    border-radius: 5px;
}
.element__08976Id{
      display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.lhs__98se h1 {
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 0px;
}
.lhs__98se p {
    font-size: 16px;
    color: #696969;
    font-weight: 500;
    margin-top: 5px;
}
.rhs__98se{
  align-self: center;
}
.rhs__98se a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    align-self: center;
}
 .heart-red {
  color: red;
}
.trendingproducts {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px 12px 25px 12px;
    justify-content: space-between;
    display: grid;
    margin-right: 5px;
    width: -webkit-fill-available !important;
    position: relative;
    top: 0;
    right: 0px;
    background-color: #ffffff;
}
.trendingproducts svg {
    position: absolute;
    top: 5px;
    right: 17px;
    width: 12px;
    color: #808080;
}

.trendingproducts .additional_line {
    position: absolute;
    top: 0px;
    left: 0px; 
    color: #ffffff; 
    font-size: 11px;
    background-color: #005f99;
    display: inline-block;
    padding: 2px 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.trendingproducts label {
    color: #696969;
    font-weight: 300;
    font-size: 13px;
    text-decoration: line-through;
}
.products__img {
    overflow: hidden;
    position: relative; 
    justify-content: center;
    display: flex;
}
.products__img img {
    width: 180px;
    padding: 10px 0px;
}
.products__img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .03;
    border-radius: 12px;
    pointer-events: none;
}
.trendingproducts p {
    color: #696969;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 14px 0px 10px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main__price {
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.discount__value {
    color: #32cd32;
    font-size: 13px;
}
.slick-prev:before, .slick-next:before { 
    font-size: 25px !important;
    line-height: 30px !important; 
    color: white !important; 
}
.slick-prev, .slick-next { 
    width: 25px !important;
    height: 25px !important;
  }
  .slick-prev {
    left: -10px !important;
    z-index: 9999 !important;
}
.slick-next {
    right: -10px !important;
}
.deals__sections{
  margin: 80px 0px;
}
.getittoday{
  text-align: center;
}
 .getittoday img{
  width: 100%;
  padding:0px 40px;
 }
 .great__deals{
  text-align: center;
 }
.reliance__text998Select h2 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
.reliance__text998Select p {
    font-size: 13px;
    color: #696969;
    font-weight: 400;
}
.reliance__text998Select h3 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
 .reliance__text998Select h4 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
.reliance__text998Select ul li {
    font-size: 13px;
    margin: 13px 0px;
}

/* Cart design css */

.heading__cart {
    padding: 0px 0px 15px;
}
.heading__cart h1 {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
}
.display__cart{
text-align: center;
    background-color: #ffffff;
    padding: 15px 0px 60px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.display__cart a {
    justify-content: end;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 34px;
    margin-right: 20px;
    text-decoration: none;
    color: #005f99;
    background-color: transparent;
    border: none;
}
 
.display__cart svg {
    font-size: 13px;
    margin-right: 5px;
    color: #005f99;
}
.display__cart__area{
text-align: center;
    background-color: #ffffff;
    padding: 60px 0px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.display__cart__area img {
    width: 200px;
}
.display__cart__area h2 {
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-bottom: 18px;
}
.display__cart__area h3 {
    font-size: 17px;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}
.display__cart__area a {
    text-align: center; 
    display: inline-block;
    border-radius: 20px;
    padding: 7px 38px;
    color: #ffffff;
    background: #0099ff;
    text-decoration: none;
    margin-top: 30px;
}

/* Contact us */

.contact__us {
    display: inline-flex;
    width: 100%;
    align-items: center;
    background: #ffffff;
    padding: 10px 0px 0px;
    justify-content: space-around;
    margin-top: 20px;
}
.contact__text h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact__img img {
    width: 300px;
}
.contact__text p {
    font-size: 15px;
    font-weight: 300;
    color: #696969;
}
.relative__section { 
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 15px 0px;
    align-content: center;
    align-self: center;
    align-items: center;
}
.absolute__mailDetails { 
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 36px 0px;
}
.office__contacts svg {
    font-size: 28px;
    margin-bottom: 10px;
}
.office__contacts span {
    font-size: 13px;
    font-weight: 700;
    color: #696969;
}
.office__contacts a {
    text-decoration: none;
    margin-top: 3px;
    display: block;
}
.office__contacts label {
    font-weight: 500;
    font-size: 13px;
    color: #696969;
}
.heade__customerCall{
      background-color: #ffffff;
    padding: 50px 200px 50px;
}
.concerns h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.concerns p {
    text-align: center;
    font-size: 13px;
    line-height: 27px;
    margin: 41px 0px 0px;
}
.add_structure p {
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0px;
}
.levele-1{
    background-color: #f5f5f5;
    padding: 20px 20px;
        margin-top: 25px;
}
.levele-1 span{
    font-size: 12px;
    font-weight: 500;
    color: #696969;
}
.levele-1 h4{
font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}
.levele-1 a{
    text-decoration: none;
    font-size: 11px;
}
.levele-1 ul{
    padding: 0 15px;
}
.levele-1 ul li {
    font-size: 12px;
    list-style: unset;
    margin-bottom: 7px;
    margin-top: 5px;
    font-weight: 500;
    color: #696969;
}
.breadcrum{
width: 100%;
}
.breadcrum ul {
    padding: 0;
    display: inline-flex;
}
.breadcrum ul li {
    list-style: none;
    margin-right: 8px;
    font-size: 12px;
}
.breadcrum ul li a{
text-decoration: none;
}
.breadcrum ul li svg {
    font-size: 10px;
    font-weight: 600;
    color: #696969;
}

/* Order */ 
 
.lhs__bottomtabselection { 
    color: #000;
    width: 30px;  
    padding: 0px 0px; 
}
.padding__area{
padding:15px 15px !important
}
.lhs__bottomtab {
    background-color: #ffffff;
    padding: 0px !important;
}
 
.nav-link {
  font-size: 13px !important;     /* jitna chhota chahiye utna change karlo */ 
color: #005f99 !important;
}
.nav-pills { 
    --bs-nav-pills-link-active-bg: #0099ff !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff !important; 
}
.one_points{
    text-align: center;
    background-color: #ffffff;
    padding: 0px 0px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.points{
padding: 25px 0px;
    background-color: #005f99;
}
.points span {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}
.points label { 
    color: #ffffff;
    font-size: 15px;
}
.one_points p{
          padding: 40px 0px;
    font-size: 13px;
    display: block;
}
.details{
    display: flex;
    flex-flow: wrap;
    row-gap: 50px;
    padding: 0px 35px;
}
.personal__details{
    display: block;
    width: 33%;
    text-align: left;
}
.personal__details span {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
.personal__details label {
    font-size: 13px;
    color: #696969;
    font-weight: 500;
}
.editable__fields {
    font-weight: 400;
    font-size: 12px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    width: 250px;
}
input:disabled {
  background-color: #ccc;
}
 
.no__display6676Area input{
      font-weight: 400;
    font-size: 12px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    width: 250px;
}
.personal__details label span{ 
    color: red;
}
.no__display6676Area {
    display: inline-flex;
    flex-flow: wrap;
    row-gap: 30px;
}
.ultimate__div0090 {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 28px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ultimate__div0090 .address__display img {
    width: 200px;
}
.ultimate__div0090 .address__display h2 {
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-bottom: 18px;
}
.ultimate__div0090 .address__display h3 {
    font-size: 17px;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}
.ultimate__div0090 .address__display a {
    text-align: center; 
    display: inline-block;
    border-radius: 20px;
    padding: 7px 38px;
    color: #ffffff;
    background: #0099ff;
    text-decoration: none;
    margin-top: 30px;
}
.add__type{
  display: block;  
     width: 33%;  
     text-align: left;  
}
.add__type label {
    font-size: 13px;
    color: #696969;
    font-weight: 500; 
    align-items: center;
    display: inline-flex;
}
.radio__btn { 
    width: 20px !important;
    margin-top: 0px !important;
}
.ultimate__div0090 button {
    float: right;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    width: 110px;
    padding: 0px;
    height: 36px;
}
.can__btn {
    background-color: #f9f9f9 !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    font-size: 11px !important;
        margin-right: 30px;
}
.display__btn a {
    background-color: #0099ff ;
    color: #ffffff ;
    border: 1px solid #ccc !important;
    font-size: 11px !important;
}