.price-slider {
  position: relative;
  width: 100%;
  height: 50px;
}

.thumb {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 0;
    appearance: none;
    z-index: 3;
    top: 8px;
}

.thumb::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 3px;
  top: 6px;
}

.slider-range {
  position: absolute;
  height: 100%;
  background: #0d6efd;
  border-radius: 3px;
}
.badges_show{
    position: relative;
    top:23px;
}