@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif !important;
}
.header__relative {
    position: relative;
    top: 0;
    width: 100%;
    height: 132px;
}
.header__function {
    width: 100%;
    position: fixed;
    z-index: 99999;
}
.header-minitext{
        line-height: 30px;
}
.discounted-value{
           line-height: 30px;
}
.discounted-value p {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}
.header-minitext p {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}
.header-minitext ul{
padding:0px;
display: inline-flex;
list-style:none;
    margin-bottom: 0px;
}
 
.header-minitext ul li a {
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
}
.color_blue{
        width: 100%;
    display: inline-flex;
    padding: 5px 30px 0px;
    background-color: #005f99;
}
.header-Electromart_logo {
    display: inline-flex;
    align-items: center;
}
.header-Electromart_logo img{
    width:120px;
}
.header-Electromart_logo span {
    border-left: 1px solid #ffffff;
    font-size: 12px;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 15px;
    color:#ffffff;
}
.custom-search-input input {
    font-size: 12px;
    height: 40px;
}
.main_header_fixedItems {
    padding: 0px 30px 15px;
    background-color: #005f99;
}
.header-Electromart_search{
      background-color: #ffffff;
    border-radius: 30px;
}
 
.catlink {
    align-self: center;
} 
.catlink a {
    color: #ffffff !important;
    padding: 0px !important;
    margin-right: 0px;
    font-size: 15px !important;
}
.box-shdw{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;    
    margin-bottom: 5px;
   padding: 0px 30px;
    background-color: #ffffff;
}
 :where(.css-dev-only-do-not-override-1cj4ms).ant-menu-light .ant-menu-item-group-title, :where(.css-dev-only-do-not-override-1cj4ms).ant-menu-light>.ant-menu .ant-menu-item-group-title{
    color: rgba(0, 0, 0, 1) !important;
}
:where(.css-dev-only-do-not-override-1cj4ms).ant-space-gap-col-small {
    column-gap: 30px !important;
}
:where(.css-dev-only-do-not-override-1cj4ms).ant-menu-light .ant-menu-item, :where(.css-dev-only-do-not-override-1cj4ms).ant-menu-light>.ant-menu .ant-menu-item{
    color: #2f4f4f;
}
:where(.css-dev-only-do-not-override-1cj4ms).ant-menu-submenu-popup .ant-menu-vertical >.ant-menu-item {
    height: 32px;
    line-height: 32px;
}
:where(.css-dev-only-do-not-override-1cj4ms).ant-menu-horizontal { 
     border-bottom: none !important;
}
.megamenu-list{
    text-align: end;
    }
.megamenu-list ul{
    display: inline-flex;
    list-style: none;
        padding: 0;
            margin-bottom: 0px;
}
.megamenu-list ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}
.megamenu-list ul li {
    padding: 0px 0px 0px 30px;
    text-align: center;
    display: grid;
}

 

.myNav{ 
  z-index: 99;
  width: 100%; 
}
.myNav .wrapper{
  position: relative;
  max-width: 100%;
  padding: 0px 0px;
  height: 48px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
    padding-left: 0px;
  display: inline-flex;
  margin-bottom: 0px;
}
.nav-links li {
    list-style: none;
    margin-right: 0px;
}
.nav-links li a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    padding: 0px 20px 0px 0px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 13px;
}
.nav-links li a:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 0px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  border-radius: 5px;
}
.mega-box .content .row{
  width: calc(100% - 0px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
color: #f2f2f2;
    font-size: medium;
    font-weight: 500;
}
.major-floatingctaegory{
  display: inline-flex;
  width: 100%;
}
.content .row .mega-links{
  margin-left: 0px;
  padding-left: 0px;
}
.row .mega-links li{
  padding: 0 30px 0px 0px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 30px 0px 0px;
  color: #d9d9d9;
  font-size: 12px;
  display: block;
      line-height: 35px;
}
.mega-float{
     width: 25%; 
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
.myNav input{
  display: none;
}
